*{
    font-family: 'Open Sans', sans-serif;
}

.todo-list-container {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    width: 100%;
}

.todo-list {
    display: grid;
    grid-template-rows: auto;
    row-gap: 24px;
    color: white;
    padding: 0px;
    margin: 0;
    width: 62%;

    /* background: #394264; */
    list-style:none;
    text-align: center;
    /* border-radius: 4px; */


}